@page "/"

<h1>SignaIr Chat </h1>

<p> 1º - Acesse TakChat no menu lateral;</p>
<p> 2º - Informe seu nome e clique em começar;</p>
<p> 3º - Pronto! Seu nome está sendo exibido à direita no topo da tela. </p>
<p> 4º - Duplique a aba do navegador para o número de usuários que quiser; </p>
<p> 5º - Realize o login em todas as abas;</p>
<p> 5º - Envie uma mensagem de um deles e todos serão notificados;</p>

<p> Caso queira mudar de sala registre a mesma sala para dois usuários, ambos serão deslogados da sala inicial e logados na nova sala</p>
<p> Caso queira enviar um direct informe o nome do usuário logado no campo destinado e clique no botão 'Direct'</p>

