@page "/"

<h1>Websocket (signaIr)  Chat </h1>

<p> 1º - Acesse o menu TakChat;</p>
<p> 2º - Informe seu nome ou nickname;</p>
<p> 3º - Duplique a aba do navegador par ó número de usuários que quiser para o chat e dê um nome para cada um deles; </p>
<p> 4º - Envie uma mensagem de um deles e todos serão notificados;</p>